<section class="banner">
  <div class="banner-content">
    <div class="banner-text">
      <div class="title">Outubro Rosa, Conscientização e Esperança</div>
      <div class="text">
        Em outubro, abraçamos a causa do rosa com determinação. Junte-se a nós
        na conscientização e prevenção do câncer de mama. Vamos iluminar o
        Outubro Rosa com esperança e solidariedade
      </div>
      <button>Saiba Mais <i class="fa-solid fa-right-from-bracket"></i></button>
    </div>
    <div class="space"></div>
  </div>
</section>
<section class="info line-bottom" #initialText>
  <div class="text">
    O mês de Outubro já é conhecido mundialmente como um mês marcado por ações
    afirmativas relacionadas à prevenção e diagnóstico precoce do câncer de
    mama. O movimento, conhecido como Outubro Rosa, é celebrado anualmente desde
    os anos 90. O objetivo da campanha é compartilhar informações sobre o câncer
    de mama e, mais recentemente, câncer do colo do útero, promovendo a
    conscientização sobre as doenças, proporcionando maior acesso aos serviços
    de diagnóstico e contribuindo para a redução da mortalidade.
  </div>
</section>
<section class="info line-bottom">
  <div class="text">
    <strong>Como descobrir a doença mais cedo?</strong><br />
    Toda mulher com 40 anos ou mais de idade deve procurar um ambulatório,
    centro ou posto de saúde para realizar o exame clínico das mamas anualmente,
    além disso, toda mulher, entre 50 e 69 anos deve fazer pelo menos uma
    mamografia a cada dois anos. O serviço de saúde deve ser procurado mesmo que
    não tenha sintomas!
  </div>
</section>
<section class="fundo info line-bottom" [ngStyle]="{ background: 'url(\'../assets/mamografia.jpg\'), rgba(0 0 0 / 25%)' }">
  <div class="text" style="color: white">
    <h1>O que é o exame clínico das mamas?</h1>
  </div>
</section>
<section class="info">
  <div class="text">
    É o exame das mamas realizado por médico
    ou enfermeiro treinado para essa atividade. Neste exame poderão ser
    identificadas alterações nas mesmas. Se for necessário, será indicado um
    exame mais específico, como a mamografia.
  </div>
</section>
<section class="info line-bottom">
  <div class="text">
    O que é mamografia? È um exame muito simples que consiste em um raio-X da
    mama e permite descobrir o câncer quando o tumor ainda é bem pequeno.
  </div>
</section>
<section class="info line-bottom">
  <div class="text">
    O que pode aumentar o risco de ter câncer de mama? Se uma pessoa da família
    – principalmente a mãe, irmã ou filha – teve essa doença antes dos 50 anos
    de idade, a mulher tem mais chances de ter um câncer de mama. Quem já teve
    câncer em uma das mamas ou câncer de ovário, em qualquer idade, também deve
    ficar atenta. As mulheres com maior risco de ter o câncer de mama devem
    tomar cuidados especiais, fazendo, a partir dos 35 anos de idade, o exame
    clínico das mamas e a mamografia, uma vez por ano.
  </div>
</section>
<section class="info line-bottom">
  <div class="text">
    O auto-exame previne a doença? O exame das mamas realizado pela própria
    mulher, apalpando os seios, ajuda no conhecimento do próprio corpo,
    entretanto, esse exame não substitui o exame clínico das mamas realizado por
    um profissional de saúde treinado. Caso a mulher observe alguma alteração
    deve procurar imediatamente o serviço de saúde mais próximo de sua
    residência. Mesmo que não encontre nenhuma alteração no auto-exame, as mamas
    devem ser examinadas uma vez por ano por um profissional de saúde!
  </div>
</section>
<section class="fundo info line-bottom" [ngStyle]="{ background: 'url(\'../assets/outubrorosa.jpg\'), rgba(0 0 0 / 25%)' }">
  <div class="text" style="color: white">
    <h1>O que mais a mulher pode fazer para se cuidar?</h1>
  </div>
</section>
<section class="info line-bottom">
  <div class="text">
    Ter uma alimentação saudável
    e equilibrada (com frutas, legumes e verduras), praticar atividades físicas
    (qualquer atividade que movimente seu corpo) e não fumar. Essas são algumas
    dicas que podem ajudar na prevenção de várias doenças, inclusive do câncer.
  </div>
</section>
